apiVersion: v1
kind: Service
metadata:
  name: {{ include "orderer.fullname" . }}
  labels:
{{ include "labels.standard" . | indent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 7050
      protocol: TCP
      name: grpc
  selector:
    app: {{ include "orderer.name" . }}
    release: {{ .Release.Name }}
  # type: LoadBalancer
  # loadBalancerIP: "34.66.99.47"